@use '../global/variables' as *;

.btn {
    padding: 16px 48px;
    background-color: $color-gray-2;
    border-radius: 28px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    border: 1px solid $color-black-40;

    &--accent {
        border: none;
        background-color: $color-blue-light;
    }

    &--small {
        padding: 16px 22px;
    }
}