@use '../global/variables' as *;
@use '../global/mixins' as *;

.btn {
    padding: 16px 48px;
    background-color: $color-gray-2;
    border-radius: 28px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    border: 1px solid $color-black-40;

    @include mobile {
        padding: 16px 39px;
    }

    &--accent {
        border: none;
        width: auto;
        background-color: $color-blue-light;
    }

    &--small {
        width: 68px;
        height: 56px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}