.search {
    display: flex;
    position: relative;
    width: 100%;

    @include mobile {
        width: auto;
    }

    &__icon {
        position: absolute;
        top: 9px;
        left: 16px;
        width: 24px;
        height: 24px;
        color: $color-white-50;

        @include mobile {
            position: static;
            color: $color-white;
        }
    }

    &__input {
        padding: 12px 16px 12px 52px;
        background-color: $color-gray-2;
        border-radius: 8px;
        border: none;
        width: 100%;
        margin-right: 40px;
        font-size: 18px;
        line-height: 24px;

        @include mobile {
            padding: 0;
            background-color: transparent;
            display: none;
        }
    }
}